{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenu sur le {{ controller_name }} de Gaspard, Théo et Romain.</h1>

    Vous pourrez alimenter la base de donnée en suivant les liens suivants :<br>
    <ul>
        <li>Créer ou modifier un <a href="{{ path('app_client_index') }}">client</a></li>
        <li>Créer ou modifier un <a href="{{ path('app_materiel_index') }}">matériel</a></li>
        <li>Créer ou modifier un <a href="{{ path('app_magasin_index') }}">magasin</a></li>
        <li>Créer ou modifier le lien <a href="{{ path('app_client_materiel_index') }}">client matériel</a></li>
        <li>Créer ou modifier le lien <a href="{{ path('app_client_magasin_index') }}">client magasin</a></li>
    </ul>

    <!--This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/gaspa/Documents/SymfonyProjects/Symfony5_Romain_Theo_Gaspard/src/Controller/IndexController.php'|file_link(0) }}">src/Controller/IndexController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/gaspa/Documents/SymfonyProjects/Symfony5_Romain_Theo_Gaspard/templates/index/index.html.twig'|file_link(0) }}">templates/index/index.html.twig</a></code></li>
    </ul>-->
</div>
{% endblock %}
